<%= link_to "Home", root_path %>
<%= link_to "About", about_path %>

<h1>About</h1>
<p>
	<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	project teaching
	<%= link_to "Ruby on Rails", "http://rubyonrails.org"%>
	in 1 month
</p>



